<!-- Landing page -->
<!DOCTYPE html>
<html>
<head>
<!-- Title & Icon -->
<title><%= title %></title>
<link rel="icon" href="https://i.imgur.com/nfeMkGD.png">
<% include ../elements/nav %>
<% include ../elements/meta %>
<% include ../elements/lib %>
</head>
<body>

<div class="container font-fresca">
	<!-- Purpose -->
	<h2> <%= title %> </h2>
    <hr>

    <div class="thumbnail">
        <a href="https://i.imgur.com/RdMOPG0.png">
            <img src="https://i.imgur.com/RdMOPG0.png" alt="landing" class="img-responsive">
            <div class="caption">
            <p>喜歡浪費時間在一些電腦系統上，並樂此不疲</p>
            </div>
        </a>
    </div>
    <div class="thumbnail">
        <a href="https://i.imgur.com/zvL7Op4.png">
            <img src="https://i.imgur.com/zvL7Op4.png" alt="landing" class="img-responsive">
            <div class="caption">
            <p>些許的網路概念</p>
            </div>
        </a>
    </div>

    <div class="thumbnail">
        <a href="https://i.imgur.com/3dbH1dY.png">
            <img src="https://i.imgur.com/3dbH1dY.png" alt="landing" class="img-responsive">
            <div class="caption">
            <p>只是一張我覺得很棒的圖，希望點開來都能看得到 :D </p>
            </div>
        </a>
    </div>

    <div class="thumbnail">
        <a href="https://i.imgur.com/GLYkN7r.png">
            <img src="https://i.imgur.com/GLYkN7r.png" alt="landing" class="img-responsive">
            <div class="caption">
            <p>沒什麼意義，只想告訴你，我家的狗真的很可愛 : ♡｡ﾟ.(*♡´◡` 人´◡` ♡*)ﾟ♡ °・</p>
            </div>
        </a>
    </div>

</div>

<!-- Footer -->
<hr>
<br>
<% include ../elements/normal_footer_bs %>
</html>