<!-- Display redirect page, with specify message -->
<!DOCTYPE html>
<html>
<head>
<!-- Title & Icon -->
<title><%= title %></title>
<link rel="icon" href="https://i.imgur.com/nfeMkGD.png">
<% include ../elements/nav %>
<% include ../elements/meta %>
<% include ../elements/lib %>
</head>
<body>

<div class="container font-fresca">
	<!-- Purpose -->
	<h2> <%= title %> </h2>
	<hr>
	<iframe width="100%" height="720px" src="https://hackmd.io/s/H1LYPa19M"></iframe>
	<hr> 

</div>

<script>
</script>

<!-- Footer -->
<hr>
<br>
<% include ../elements/normal_footer_bs %>
</html>