<footer class="container">
    <div class="footer-copyright row">
        <span class="col-md-6 text-left"> Source code avaiable on <a href="https://github.com/toolbuddy/simple-report-system">Github</a>, any contribution is welcome! </span>
        <span class="col-md-6 text-right"> Provided by:<a href="https://github.com/kevinbird61"> Kevin Cyu</a> </span>
    </div>
</footer>